<!DOCTYPE html>
<html>
  
    <head>
        <title>
         </title>
        <body>
     
            <style>
              h1 {
                color: rgb(0, 221, 255);
                text-align: center;
              } 
              </style>
          <h1>Internship Feedback Form</h1>
          <style>
            h2 {
              color: rgb(0, 221, 255);
              text-align: center;
            } 
            </style>
            <h2>Student Details</h2>
            <form>
              <style>
                h3 {
                  color: rgb(13, 15, 15);
                  text-align: center;
                } 
                </style> 
               
               <h3><label  for="name">Name</label>
                <input type="text" id="name" name="name"><br></h3>
                <h3><label for="rollno">Roll No</label>
                <input type="text " id="rno" name="rno"><br></h3>
                <h3><label for="branch" >Branch</label>
                <select name="branch" id="branch"><br>
                  <option value="stream">Stream</option>
                    <option value="cse">Computer Science Engineering</option>
                    <option value="ece">Electronics and CCommunication Engineering</option>
                    <option value="csm">Computer Science in AI & ML Engineering</option>
                    <option value="eee">CElectrical and Electronics  Engineering</option>
                    <option value="it">Information Technology</option><br>
                </select><br></h3>

                    <h3><label for="year of study">Year of Study</label>
                    <select name="year of study" id="year of study"></br>
                      <option value="Year">Choose Year</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option><br></h3>

                    </select>
                  <h3><label for="email">Email address</label>
                      <input type ="text" id="email" name="email"><br>
                      <h2>Organization or Company Details</h2>
                    <h3><label for="cname">Name</label>
                    <input type="text" id="cname" name="cname"><br></h3>
                    <h3><label for="stipend">Stipend :</label><br>
                      <input type="radio" name="stipend" value="yes">yes</input type></br>
                      <input type="radio" name="stipend" value="no">no</input type></br>
                        </h3>

                        <h3><label for="participation certificate">Participation Certificate :</label></br>
                          <input type="radio" name="participation certificate" value="yes">yes</input type></br>
                          <input type="radio" name="participation certificate" value="no">no</input type></br>
                        </h3>
                        <div class="row">    
                            <div class="col-125">    
                              <h3><label for="feed_back">Feed Back</label> </h3> 
                                
                             
                            </div>    
                            <div class="col-75"> 
                              <div class="row-15"></div>  
                             <Center> <textarea id="subject" name="subject" placeholder="Write something.." style="width:200px"></textarea></Center>  
                            </div>    
                          </div>    
                          <div class="row">    
                            <h3><center><input type="submit" value="Submit"></center></h3>    
                          </div> 
                    
            </select>

                  </select>

                    </select>
            </form>
        </body>
    </head>
</html>